@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #24a6af;
  --background: #17202e;
  --secondary: #6b758e;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}
