@import "tailwindcss";
@theme {
  /* Fonts */
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* Colors */
  --color-background: #0D1117;
  --color-surface: #161B22;
  --color-surface-hover: #1D242E;
  --color-primary: #2ECC71;
  --color-primary-hover: #27AE60;
  --color-secondary: #10B981;
  --color-danger: #F55757;
  --color-danger-hover: #E03E3E;
  --color-border: #2F3B51;
  --color-muted: #94A3B8;
  --color-inverted: #0D1117;
  --color-base: #E5E7EB; /* main text color */
  --color-backdrop: rgb(0 0 0 / 0.7);
}

html {
  color: var(--color-base);
  font-family: var(--font-sans);
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}